/* https://pixabay.com/pl/photos/kasyno-karty-oczko-%C5%BCetony-hazard-1030852/ */
/* font-family: 'Noto Sans TC', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    display: block;
    clear: both;
}

.wrap {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgb(211, 222, 6);
    background-image: url("../img/casino_1280x850.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    height: 20vh;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 20vh;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(63, 140, 118, 0.5);
    border-bottom: 2px solid rgb(211, 222, 6);
}



.summary {
    float: left;
    width: 30%;
    border-right: 2px solid rgb(211, 222, 6);
}

.summary ul {
    height: 70vh;
    background-color: rgba(63, 140, 118, 0.5);
}

.summary ul li {
    position: relative;
    display: block;
    height: 20%;
    list-style: none;
    font-size: 24px;
    font-weight: 400;

}

.summary ul li i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    display: inline-block;
    text-align: center;
    font-size: 30px;
}

.summary .description {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 60%;
    padding-left: 5px;
}

.wallet,
.number,
.win,
.loss {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
}


.game {
    width: 70%;
    height: 70vh;
    float: left;
}

.frame {
    position: relative;
    height: 75%;
}

.gate1,
.gate2,
.gate3 {
    position: absolute;
    float: left;
    width: 20%;
    height: 80%;
    border: 4px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 10px 8px black
}

.gate1 {
    top: 50%;
    left: 50%;
    transform: translate(-160%, -50%);
}

.gate2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gate3 {
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
}

.frame p {
    position: relative;
    display: block;
    height: 100%;
}

.frame p i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
}

.result p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px black;
}

.panel {
    text-align: center;
}

#bid {
    display: inline-block;
    width: 200px;
    padding: 5px 5px 5px 5px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

#start {
    display: inline-block;
    width: 200px;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;

}

#start:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    background-color: rgba(63, 140, 118, 0.5);
    border-top: 2px solid rgb(211, 222, 6)
}

.color1 {
    color: rgb(178, 8, 45);
}

.color2 {
    color: rgb(211, 222, 6)
}

.color3 {
    color: rgba(28, 235, 176, 0.5)
}

.hidden {
    visibility: hidden;
}

/*******************************************************************/

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    font-family: 'Noto Sans TC', sans-serif;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: white;
    color: black;
    line-height: 30px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 60px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    border: 2px solid black;
}

.close:hover {
    background: black;
    color: white;
}